/* Style dla talii przeciwnika */
.player-deck {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 40px 0 40px 0;
}

.opponent-deck {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 40px 0 40px 0;
}

.main-deck {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.points {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  font-weight: 800;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-label {
  font-size: 24px;
  font-weight: 800;
  color: red;
  display: flex;
  justify-content: center;
}
